<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parola Sıfırlama</title>
    <link rel="shortcut icon"  type="image/x-icon"  href="\static\assets\images\cloud_14412 (1).ico" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylesheets/forget_pas_style.css') }}">
    <script src="{{ url_for('static', filename='/scripts/forget_password.js') }}"></script>
</head>
<body id="forget_password-js">
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form name="form1" class="box" action="{{ url_for('reset_password', password_reset_token=password_reset_token) }}" method="post" >
     <input type="hidden" name="password_reset_token" value="{{ password_reset_token }}">
      <h4>Parola sıfırlama<span> ekranı</span></h4>
      <h5>Yeni parola giriniz. </h5>
      <input type="password" name="new_password" placeholder="Yeni parola gir " autocomplete="off">
      <i class="typcn typcn-eye" id="eye"></i>
      <input type="password" name="re_password" placeholder="Yeni parola tekrardan gir" id="pwd" autocomplete="off">
      <input type="submit" value="Parola oluştur" class="btn1">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </form>
  </div>
  <div class="footer">
  </div>
</div>
</body>
</html>

